node_modules
.next
generated
build
out
coverage

.git
.git/
.gitignore
.github

.env
.env.*
!.env.example

.vscode
.idea
*.md
LICENSE
images
minio
start-dockercompose.yaml
Dockerfile
.dockerignore

npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.tsbuildinfo
next-env.d.ts
.DS_Store
