DATABASE_URL="postgresql://postgres:admin1234@localhost:5432/codereview?schema=public"
BETTER_AUTH_SECRET=random_secret

# Google Secret
AUTH_GOOGLE_ID=google_secret_ID
AUTH_GOOGLE_SECRET=secret__Key

# MINIO Secret
MINIO_ACCESS_KEY=acces__key
MINIO_SECRET_KEY=secret__key
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_USE_SSL=false

# DEBUG=prisma:client,prisma*

